  <div id='carousel'>
    <div class="items" >
     {{#each firstItem}}
     <a href='#{{id}}'> <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article></a>
    {{/each}}
    </div>
    <div class="items" >
        {{#each secondItem}}
     <a href='#{{id}}'> <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article></a>
    {{/each}}
    </div>
    <div class="items" >
       {{#each thirdItem}}
     <a href='#{{id}}'> <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article></a>
    {{/each}}
    </div>
    <div class="items" >
       {{#each forthItem}}
     <a href='#{{id}}'> <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article></a>
    {{/each}}
    </div>
    <div class="items" >
       {{#each fifthItem}}
     <a href='#{{id}}'> <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article></a>
    {{/each}}
    </div>
  </div>
 
