  <div id='carousel'>
    <div class="item active">
     {{#each firstItem}}
     <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article>
    {{/each}}
    </div>
    <div class="item">
        {{#each secondItem}}
     <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article>
    {{/each}}
    </div>
    <div class="item">
       {{#each thirdItem}}
     <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article>
    {{/each}}
    </div>
    <div class="item">
       {{#each forthItem}}
     <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article>
    {{/each}}
    </div>
    <div class="item">
       {{#each fifthItem}}
     <article>
        <img src='{{url}}' width='150'/>
        <div>
            <h5>{{name}}</h5>
            <p>{{price}}лв.</p>
        </div>
    </article>
    {{/each}}
    </div>
  </div>
