{{#each shopingCart}}
     <tr class='productsmoney'>
       
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{url}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{name}}</a></h4>
                                <h5 class="media-heading"><a href="#">{{companyName}}</a></h5>
                                <span>Статус: </span><span class="text-success"><strong>В наличност</strong></span>
                            </div>
                        </div></td>
                       
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{price}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" prod={{id}}>
                            <span class="glyphicon glyphicon-remove"></span> Изтрий
                        </button></td>
                    </tr>
         
    {{/each}}