
<div id='benefits' class='container'>
    <div class="row">
        <div class="col-md-2"><img src="proj/asets/images/mouse1600.png" alt="" width='50'>
            <p>Онлайн винаги ще бъде по-лесно</p>
        </div>
        <div class="col-md-2"><img src="proj/asets/images/truck-icon-31.png" alt="" width='50'>
            <p>Бърза доставка</p>
        </div>
        <div class="col-md-2"><img src="proj/asets/images/8338-200.png" alt="" width='50'>
            <p>30 дни право на връщане</p>
        </div>
        <div class="col-md-2"><img src="proj/asets/images/black-box-310220_640.png" alt="" width='50'>
            <p>Проверка на пратката</p>
        </div>
        <div class="col-md-2"><img src="proj/asets/images/notebook-256.png" alt="" width='50'>
            <p>Широка гама продукти</p>
        </div>
    </div>
</div>
<div id="content">
    <div id='carousell'></div>
    <hr>
    <span>Топ брандове</span>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#popular">Най-популярните</a></li>
        <li><a data-toggle="tab" href="#menu1">IT &amp Мобилни устройства</a></li>
        <li><a data-toggle="tab" href="#menu2">Електроника и електроуреди</a></li>
        <li><a data-toggle="tab" href="#menu3">Здраве и красота</a></li>
    </ul>

    <div class="tab-content">
        <div id="popular" class="tab-pane fade in active">
            <ul>
                <li><a href="#acer"><img src="proj/asets/images/acer_logo.png" alt="" width='100'></a></li>
                <li><a href="#lego"><img src="proj/asets/images/LEGO.png" alt="" width='100'></a></li>
                <li><a href="#samsung"><img src="proj/asets/images/samsung-logo.png" alt="" width='100'></a></li>
                <li><a href="#lenovo"><img src="proj/asets/images/lenovo_logo_detail.png" alt="" width='100'></a></li>
                <li><a href="#intel"><img src="proj/asets/images/Intel-s-Third-Embarrassment-of-the-Last-Decade-Chapter-I-2.jpg" alt="" width='100'></a></li>
                <li><a href="#bosch"><img src="proj/asets/images/bosch-logo.png" alt="" width='100'></a></li>
                <li><a href="#htc"><img src="proj/asets/images/58ac4c5b0aaa10546adf2708.png" alt="" width='100'></a></li>
                <li><a href="#philips"><img src="proj/asets/images/Activity-Diagram.png" alt="" width='100'></a></li>
                <li><a href="#apple"><img src="proj/asets/images/apple-logo_318-40184.jpg" alt="" width='100'></a></li>
                <li><a href="#asus"><img src="proj/asets/images/asus-logo.jpg" alt="" width='100'></a></li>
                <li><a href="#lg"><img src="proj/asets/images/lg-logo.png" alt="" width='100'></a></li>
                <li><a href="#dell"><img src="proj/asets/images/dell.jpg" alt="" width='100'></a></li>
            </ul>
        </div>
        <div id="menu1" class="tab-pane fade">
            <ul>
                <li><a href="#samsung"><img src="proj/asets/images/samsung-logo.png" alt="" width='100'></a></li>
                <li><a href="#apple"><img src="proj/asets/images/apple-logo_318-40184.jpg" alt="" width='100'></a></li>
                <li><a href="#huawei"><img src="proj/asets/images/Huawei_logo_symbol.png" alt="" width='100'></a></li>
                <li><a href="#honor"><img src="proj/asets/images/Honor-logo.png" alt="" width='100'></a></li>
                <li><a href="#nokia"><img src="proj/asets/images/nokia-logo.png" alt="" width='100'></a></li>
                <li><a href="#lenovo"><img src="proj/asets/images/lenovo_logo_detail.png" alt="" width='100'></a></li>
                <li><a href="#blackberry"><img src="proj/asets/images/2000px-Blackberry_Logo.svg.png" alt="" width='100'></a></li>
                <li><a href="#alcatel"><img src="proj/asets/images/AlcatelOneTouch-Logo.jpg" alt="" width='100'></a></li>
                <li><a href="#windows"><img src="proj/asets/images/Microsoft-Logo-PNG-File.png" alt="" width='100'></a></li>
                <li><a href="#prestigio"><img src="proj/asets/images/prestigio-logo.png" alt="" width='100'></a></li>
                <li><a href="#zte"><img src="proj/asets/images/34372_ZTE_Tomorrow_Never_Waits_FP_Wide.png" alt="" width='100'></a></li>
                <li><a href="#htc"><img src="proj/asets/images/58ac4c5b0aaa10546adf2708.png" alt="" width='100'></a></li>
            </ul>
        </div>
        <div id="menu2" class="tab-pane fade">
            <ul>
                <li><a href="#jvc"><img src="proj/asets/images/JVC_Logo.svg.png" alt="" width='100'></a></li>
                <li><a href="#zanussi"><img src="proj/asets/images/Zanussi_logo_text_wordmark.png" alt="" width='100' ></a></li>
                <li><a href="#samsung"><img src="proj/asets/images/samsung-logo.png" alt="" width='100'></a></li>
                <li><a href="#gorenie"><img src="proj/asets/images/gorenje-logo.png" alt="" width='100'></a></li>
                <li><a href="#pioner"><img src="proj/asets/images/1000px-Pioneer_logo.svg.png" alt="" width='100'></a></li>
                <li><a href="#bosch"><img src="proj/asets/images/bosch-logo.png" alt="" width='100'></a></li>
                <li><a href="#braun"><img src="proj/asets/images/braun-logo.jpg" alt="" width='100'></a></li>
                <li><a href="#tp-link"><img src="proj/asets/images/tp_link_logo.png" alt="" width='100'></a></li>
                <li><a href="#lg"><img src="proj/asets/images/lg-logo.png" alt="" width='100'></a></li>
                <li><a href="#canon"><img src="proj/asets/images/Canon_wordmark.svg.png" alt="" width='100'></a></li>
                <li><a href=#nikon ""><img src="proj/asets/images/free-vector-nikon-logo_090581_Nikon_logo.png" alt="" width='100'></a></li>
                <li><a href="#beko"><img src="proj/asets/images/Beko_logo.png" alt="" width='100'></a></li>
            </ul>
        </div>
        <div id="menu3" class="tab-pane fade">
            <ul>
                <li><a href="#garnier"><img src="proj/asets/images/garnier-logo.png" alt="" width='100'></a></li>
                <li><a href="#nivea"><img src="proj/asets/images/Nivea_Logo.png" alt="" width='100'></a></li>
                <li><a href="#loreal"><img src="proj/asets/images/loreal_professionnel_67768.jpg" alt="" width='100'></a></li>
                <li><a href="#mayballine"><img src="proj/asets/images/Maybelline_New_York_logo_black_2.png" alt="" width='100'></a></li>
                <li><a href="#gillette"><img src="proj/asets/images/Gillette_Logo.jpg" alt="" width='100'></a></li>
                <li><a href="#scholl"><img src="proj/asets/images/logo (1).png" alt="" width='100'></a></li>
                <li><a href="#vichy"><img src="proj/asets/images/LOGO VICHY YOUR IDEAL SKIN.png" alt="" width='100'></a></li>
                <li><a href="#boss"><img src="proj/asets/images/1280px-Hugo-Boss-Logo.svg.png" alt="" width='100'></a></li>
                <li><a href="#bioderma"><img src="proj/asets/images/bioderma-logo.png" alt="" width='100'></a></li>
                <li><a href="#maxfactor"><img src="proj/asets/images/GPP-FB-LG-MaxFactor-Logo_2013.png" alt="" width='100'></a></li>
                <li><a href="#blend-a-med"><img src="proj/asets/images/Blend-a-med_logo.png" alt="" width='100'></a></li>
                <li><a href="#golden-rose"><img src="proj/asets/images/goldenrose.png" alt="" width='100'></a></li>
            </ul>
        </div>
    </div>
</div>