<div>
    {{#if shopingCart}}
    
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <caption>Количка за пазаруване</caption>
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Количество</th>
                        <th class="text-center">Цена</th>
                        <th class="text-center">Общо</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
    {{#each shopingCart}}
     <tr class='productsmoney'>
       
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{url}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{name}}</a></h4>
                                <h5 class="media-heading"><a href="#">{{companyName}}</a></h5>
                                <span>Статус: </span><span class="text-success"><strong>В наличност</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" class="form-control exampleInputEmail1" prodPrice={{id}} value="1" min="1" >
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center" ><strong class='money' prod='{{id}}-col'>{{price}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" prod={{id}}>
                            <span class="glyphicon glyphicon-remove"></span> Изтрий
                        </button></td>
                    </tr>
         
    {{/each}}
    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Всички продукти</h5></td>
                        <td class="text-right"><h5><strong id='all'></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Цена на доставка</h5></td>
                        <td class="text-right"><h5><strong>5</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Общо</h3></td>
                        <td class="text-right"><h3><strong id='tot'></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Продължи <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    {{else}}
    <div style='margin-left:40%;padding:5%'>
    <h2 style="font-size:2em;font-weight:bolder;margin-bottom:2%">Количката е празна</h2>
    <button style='padding:2%;background-color:lightblue;color:white;font-size:1.25em'><a href='#home'>Към началната страница</a></button>
    </div>
    {{/if}}
</div>


    