<div id="onePrTemplate">
    <h1> {{name}}</h1>
    <img src='{{url}}'>
    <p>Марка : {{companyName}} </p>
    <p>Цвят :{{color}} </p>
      {{#if description}}
    <p>Описание : {{description}}</p>
     {{else}}
      <p>Описание : Няма информация</p>
      {{/if}}
    {{#if isNew}}
     <p >Състояние :  Нов</p>
      {{else}}
       <p>Състояние :Употребяван</p>
  {{/if}}
    <p id="itemID">Продуктов номер: {{id}}</p>
    <button id="addToKoshnica" prodid={{id}} onclick="user.addToShopingCard.call(signedUser,$('#addToKoshnica').attr('prodid'))">Добави в количката</button>
    <button id="addToFavorites" prodid={{id}} onclick="user.addToFavorites.call(signedUser,$('#addToFavorites').attr('prodid'))">Добави в любими</button>
</div>
