<div id="templatePr">
    <aside>
        <ul id="types">
            <li><input type="radio" name="all" id='one' onclick='loadNew()'><label for="all">Всички</label></li>
            <li><input type="radio" name="all" onclick=loadNew(true)><label for="new" isNew='true' >Нови</label>
            </li>
            <li><input type="radio" name="all" onclick=loadNew(false)><label for="old" isNew='false' >Употребявани</label></li>
        </ul>
        <span style="color:red;font-size:1.2em;">Производител:</span>
        <ul>
            {{#each companies}}
            <li>
                <input type="checkbox" name='companies' id='{{compName}}' onclick=""/><label for="companies">{{compName}}</label>
            </li>
            {{/each}}

        </ul>
    </aside>
    <section id='productsItem'>
        {{#each productsList}}
        <a href='#{{id}}'>
            <article>
                <img src='{{url}}' width='150'>
                <div>
                    <h5>{{name}}</h5>
                    <p>{{price}}лв.</p>
                </div>
            </article>
        </a>
        {{/each}}
    </section>
</div>