<div id="templatePr">
    <aside>
        <ul>
            <li><input type="checkbox" name="allNewOld"><label for="allNewOld">Всички</label></li>
            <li><input type="checkbox" name="allNewOld"><label for="allNewOld">Нови</label></li>
            <li><input type="checkbox" name="allNewOld"><label for="allNewOld">Употребявани</label></li>
        </ul>
        <span>Производител:</span>
        <ul>
            {{#each companies}}
            <li>
                <input type="checkbox" name='companies' /><label for="companies">{{compName}}</label>
            </li>
            {{/each}}

        </ul>
    </aside>
    <section id='productsItem'>
        {{#each productsList}}
       <a href={{#id}}> <article >
            <img src='{{url}}' width='150'>
            <div>
                <h5>{{name}}</h5>
                <p>{{price}}лв.</p>
            </div>
        </article>
        </a>
        {{/each}}
    </section>
</div>