#mainPage{
    /*background-color: #f7f7f7;*/
    width: 100%;
    height: 100%;
    display: block;
  
}
#main,.footer{
   display: none;
}
/*#mainPage>img{
    position: absolute;
    width: 200px;
    top:20%;
    left:37%;
}*/


#login>div{
    margin:auto;
    margin-top: -120px;
    margin-bottom: 20px;
    width:15%;
}
#reg>div{
    margin:auto;
    margin-top: -180px;
    margin-bottom: 20px;
    width:15%;
}
.logo2{
    width:200px;
}
#login {
 
  margin-top: 200px;
  margin-bottom: 80px;
}
#reg {
    display: none;
  margin-top: 200px;
  margin-bottom: 80px;
}
input[name="password"]{
    margin-top: 15px;
}

#login span{
    margin-right: 5px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin-heading{
    color: grey;
    font-size: 3em;
    margin-left:1.5em;
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
      margin-left: 20px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
    }
	input[name="username"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[name="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

.btn{
    width:40%;
    display: inline-block;
    margin-right: 15px;
}
#reg .btn{
    margin-left: 33%;
}
span + a{
    font-weight: bold;
    font-size: 1.15em;
}
header {
    background-color:#005eb8;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
 
}

body{
     background-color:#fafafa;
}
#content{
    width: 75%;
    margin: auto;
    height: 500px;
    background-color: white;
    height: 800px;
}
.logo{
    width: 200px;
    height: auto;
    margin-top: -40px;
}
#logo1{
    float: left;
    margin-left: 5em;
    position: relative;
    top:70px;
    width:150px;
}

#login_div a{
     font-size: 1em;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 27px;
     color: white;
     text-decoration: none;
     margin-right:0.4em;
}
#login_div>div{
     display: inline-block;
}
#login_div i{
     width:2em;
}
#login_div>span{
    margin-right:0.5em;
}

#login_div{
    padding-top:2.3em; 
     padding-bottom:2.3em; 
    margin-right: 5em;
    float: right;
   
}
#log{
    margin-top: 1px;
    position: absolute;
    top:70px;
    left:750px;
    display: none;
    background-color: white;
    width:20%;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px;
    padding: 10px;
}
#log>div{
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#log>div>button{
    margin-right: 5px;
    background-color: blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

#favorite{
    margin-top: 1px;
    display: none;
    position: absolute;
    top:70px;
    left:850px;
     background-color: white;
    width:20%;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px;
    padding: 10px;
}
#favorite>div>button{
    margin-right: 5px;
    background-color: blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 75px;
   
}
#cart{
    margin-top: 1px;
     display: none;
    position: absolute;
    top:70px;
    left:1000px;
     background-color: white;
    width:20%;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px;
    padding: 10px;
}
#search{
    display: inline-block;
    position: absolute;
    top:36px;
    left:300px;
}
#txtSearch{
    height: 35px;
    width:300px;
    border-radius: 10px;
    background-image: url("images/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;

}
#white{
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 5px 0px;
    position: relative;
    background-color: white;
    top:-10px;
    height: 40px;
    width: 100%;
    display: flex;
   z-index: 100;

}
#category{
  
    display:flex;
    width:18%;
   margin-left: 5em;
    background-color: #00aff5;
   padding: 0.4em;
   text-align: center;
}
#category>span:nth-child(2){
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
     margin-top: 5px;
}
#category>a{
      font-size: 0.9em;
      text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  margin-left: 5px;
   margin-top: 5px;
}
#white>ul{
    margin-top:10px;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
   
}
#white>ul a{
    color: grey;
     margin-left: 10px;
      text-decoration:none;

}
#white>ul a:hover{
    color: grey;
    text-decoration: underline;

     /*font-size: 0.75em;*/

    
}
#white>ul li{
   
    display: inline;
}

#aside-menu{
    display: flex;
    background-color: white;
    margin-left:5em;
    width:18%;
    height: 372px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    margin-top: -10px;
    float:left;
   
   
     
}

#aside-menu li:first-of-type{
    margin-top:5px;
}
#aside-menu li:hover{
    
    outline-offset: 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color :rgb(204,204,204);
}
#aside-menu li{
    margin:20px auto;
   
}
#aside-menu a{
    color:black;
    font-size: 1em;
    text-decoration: none;
}
.menu{
    position: absolute;
    top:130px;
    left:320px;
    width:70%;
    height: 380px;
    box-sizing: border-box;
    display: none;
    border: 1px solid lightgray;
    background-color: white;
   z-index: 10;
}
.menu ul{
    /*display: inline-block;*/
    float: left;
    width: 15%;
    margin-left: 20px;
}
.menu li{
    margin:15px auto;
    box-sizing: border-box;
    
}
.menu li:first-of-type{
    font-weight: bold;
}
.menu a{
    text-decoration: none;
    color:black;
}
.menu a:hover{
    padding-bottom: 15px;
    text-decoration: underline;
    color:blue;
}

#content{
    clear: left;
    display: block;
    border: 0.5px solid lightgray;
    
}
#content>span{
    font-size: 1.7em;
    color:darkblue;
    margin-right: 2em;
    padding-bottom: 2em;
    position: relative;
    top:-15px;
    margin-left:3%;
    
}
#content>ul{
    margin-top: 2em;
 display: inline-block;

}
#myCarousel{
     margin-top:-15px;
    display: inline-block;
    width: 75%;
    
}

#benefits{
    margin-left:8%;
      margin-bottom: 3em;
      padding: 1em;
      padding-right: 0em;
    clear:left;
    display: block;
    border: 0.4px solid lightblue;
    background-color: #f9fcff;
    position: relative;
    top:30px;

}
#benefits>div>div{
    margin-left: 2em;
}
#benefits img{
    margin-right: 1em;
}
#benefits p{
    display: inline-block;
    width:58%;
}
.tab-content{
    margin-top: 3em;
    display: flex;
    /*flex-wrap: wrap;*/
}
.tab-content li{
    display: inline-block;
    margin-bottom: 3em;
    margin-right: 2em;
     margin-left: 2em;
}
#productsItem aside{
    float:left;

}
#productsItem{
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    margin:auto;
    background-color: white;
    border: 0.5px solid lightgray;
    padding: 3%;
}
#productsItem article{
    width:20%;
    margin-bottom: 2%;
    box-sizing: border-box;
    
}
#productsItem h5{
    width:70%;
     margin-bottom: 10%;
}
#productsItem p{
    color: red;
   
    font-size: 1.15em;
}

footer{
    clear:left;
    background-color:#ffffff;
    box-sizing: border-box;
    width:100%;
    display: flex;
    border-top: 0.5px solid lightgray;
}
#footer-wrapper{
    margin:auto;
    width:90%;
}
footer>ul{
    list-style-type: none;
}
.footer{
    border-right: 0.5px solid lightgray;
    width:19%;
    float:left;
    margin: 20px auto;
    margin-left: 10px;
    /*display: none;*/
}
.footer li{
    margin:10px auto;
}
footer p{
    text-align: left;
    font-size: 1.15em;
    margin-bottom: 5px;
}
.footer a{
    text-decoration: none;
    color: grey;
    font-size: 0.9em;
    text-align: left;


}
.footer a:hover{
    text-decoration: none;
    color:grey;
}
#last{
    border-right: none;
}







